<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="false">

<display-name>
	Proveedores
</display-name>

<description>
	Agrega Proveedores
</description>

<session-config>
	<session-timeout>
		30
	</session-timeout>
</session-config>


<context-param> 
	<description>
		Database
	</description> 
	<param-name>
		base
	</param-name> 
	<param-value>
		MiCasa
	</param-value> 
</context-param>
<context-param>
    <description>
        Usuario
    </description>
    <param-name>
        usuario
    </param-name>
    <param-value>
        micasa
    </param-value>
</context-param>
<context-param>
    <description>
        Contraseña
    </description>
    <param-name>
        contraseña
    </param-name>
    <param-value>
        mipass
    </param-value>
</context-param>


</web-app>
